<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2" >
      <button class="btn btn-default" style="background: white;">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="width: 1em; height: 1em; "></span>
        <span>Back</span>
      </button>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-8" >
    </div>
    <div class="col-xs-4 col-sm-4 col-md-2" >
      <button class="btn btn-default" style="float: right; margin-left: 10px; background: white;">
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="width: 1em; height: 1em; "></span>
      </button>
      <button class="btn btn-default" style="float: right; background: white;">
        <span class="glyphicon glyphicon glyphicon-star" aria-hidden="true" style="width: 1em; height: 1em; "></span>
      </button>
    </div>
  </div>
  <div class="row" style="margin-top: 1em;">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Albums</div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Posts</div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </div>
  </div>
</div>