<div class="container-fluid">
  <div class="row">
    <div id="page-header" class="col-xs-12 col-sm-12 col-md-12">
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3" style="margin-top: 1em;">
          <strong id="fb-search-text">FB Search</strong>
        </div>
        <form [formGroup]="searchGroup" novalidate (ngSubmit)="fireSearchEvent(searchGroup.value, searchGroup.valid)">
        <div class="col-xs-6 col-sm-6 col-md-6" style="margin-top: 0.5em;">
          <div class="input-group">
            <input data-toggle = "tooltip" title = "Please type a keyword" type="text" data-placement="bottom"
                   class="form-control" placeholder="Type Something...." formControlName="searchedKeyWord" 
                   id="searchQueryInput">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit" id="search-fb-button">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
            </span>
          </div>
        </div>
        </form>
        <div class="col-xs-3 col-sm-3 col-md-3" style="margin-top: 0.5em;">
          <button type="button" class="btn btn-default" style="border: 1px solid #3b5998; background: white;">
            <span style="color: #3b5998">Clear</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- tab bar layout-->
    <!-- nv tab -->
    <div class="row" id="tabs">
      <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="#users" data-toggle="tab">Users</a></li>
        <li><a href="#pages" data-toggle="tab">Pages</a></li>
        <li><a href="#events" data-toggle="tab">Events</a></li>
        <li><a href="#places" data-toggle="tab">Places</a></li>
        <li><a href="#groups" data-toggle="tab">Groups</a></li>
        <li><a href="#favorites" data-toggle="tab">Favorites</a></li>
      </ul>
    </div>
    <div class="row">
      <hr style="border: 1px solid #337ab5; margin-top: 0px;">
    </div>    
    <div class="row">
      <div class="tab-content">
        <div class="tab-pane active" id="users">Users</div>
        <div class="tab-pane" id="pages">Pages</div>
        <div class="tab-pane" id="events">Events</div>
        <div class="tab-pane" id="places">Places</div>
        <div class="tab-pane" id="groups">Groups</div>
        <div class="tab-pane" id="favorites">Favorites</div>
      </div>
    </div>
  </div>