<div class="container-fluid">
  <div class="row">
    <div id="page-header" class="col-xs-12 col-sm-12 col-md-12">
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3" style="margin-top: 1em;">
          <strong id="fb-search-text">FB Search</strong>
        </div>
        <form [formGroup]="searchGroup" novalidate (ngSubmit)="fireSearchEvent(searchGroup.value, searchGroup.valid)">
        <div class="col-xs-6 col-sm-6 col-md-6" style="margin-top: 0.5em;">
          <div class="input-group">
            <input data-toggle = "tooltip" title = "Please type a keyword" type="text" data-placement="bottom"
                   class="form-control" placeholder="Type Something...." formControlName="searchedKeyWord" 
                   id="searchQueryInput">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit" id="search-fb-button">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
            </span>
          </div>
        </div>
        </form>
        <div class="col-xs-3 col-sm-3 col-md-3" style="margin-top: 0.5em;">
          <button type="button" class="btn btn-default" style="border: 1px solid #337ab5; background: white;">
            <span style="color: #337ab5">Clear</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- tab bar layout-->
    <!-- nv tab -->
    <div class="row" id="tabs">
      <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="#users" data-toggle="tab">Users</a></li>
        <li><a href="#pages" data-toggle="tab">Pages</a></li>
        <li><a href="#events" data-toggle="tab">Events</a></li>
        <li><a href="#places" data-toggle="tab">Places</a></li>
        <li><a href="#groups" data-toggle="tab">Groups</a></li>
        <li><a href="#favorites" data-toggle="tab">Favorites</a></li>
      </ul>
    </div>
    <div class="row">
      <hr style="border: 1px solid #337ab5; margin-top: 0px;">
    </div>    
    <div class="row">
      <div class="tab-content">
        <!-- Tab for users -->
        <div class="tab-pane active" id="users" style="margin-left: 20px; margin-right: 20px;">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Profile Photo</th>
                  <th>Name</th>
                  <th>Favorite</th>
                  <th>Details</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let result of jsonResult; let i = index;">
                  <td style="padding-top: 1.3em;">{{ i+1 }}</td>
                  <td><img class="round-image" src="{{ result.picture.data.url }}"/></td>
                  <td style="padding-top: 1.3em;">{{ result.name }}</td>
                  <td>
                    <button class="btn btn-default favorite-button" type="button" style="margin-top: 0.3em;">
                      <span class="glyphicon glyphicon-star-empty" aria-hidden="true" style="width: 1em; height: 1em; "></span>
                    </button>
                  </td>
                  <td>
                    <button class="btn btn-default favorite-button" type="button" style="margin-top: 0.3em;">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="width: 1em; height: 1em;"></span>
                    </button>
                  </td>
                </tr>
            </tbody>
            </table>
              <div class="col-xs-3 col-sm-3 col-md-4"><!-- Dummy div's--></div>
              <div class="col-xs-6 col-sm-6 col-md-3" [hidden]="hideButtonsUserTab">
                <button *ngIf="previousPageButtonUserTab" class="btn btn-default align-middle" type="button" (click)="firePreviousPageUsersTab()" style="background: white; width: 7em; height: 2.5em; float: left; margin-left: 2em;">Previous</button>
                <button *ngIf="nextPageButtonUserTab" class="btn btn-default align-middle" type="button" (click)="fireNextPageUserTab()" style="background: white; width: 7em; height: 2.5em; float: right; margin-right: 2em;">Next</button>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-5"><!-- Dummy div's' --></div>
              <br><br><br>
          </div>
        </div>
        <!-- Tab for pages-->
        <div class="tab-pane" id="pages" style="margin-left: 20px; margin-right: 20px;">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Profile Photo</th>
                  <th>Name</th>
                  <th>Favorite</th>
                  <th>Details</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let result of jsonPageResult; let i = index;">
                  <td style="padding-top: 1.3em;">{{ i+1 }}</td>
                  <td><img class="round-image" src="{{ result.picture.data.url }}"/></td>
                  <td style="padding-top: 1.3em;">{{ result.name }}</td>
                  <td>
                    <button class="btn btn-default favorite-button" type="button" style="margin-top: 0.3em;">
                      <span class="glyphicon glyphicon-star-empty" aria-hidden="true" style="width: 1em; height: 1em; "></span>
                    </button>
                  </td>
                  <td>
                    <button class="btn btn-default favorite-button" type="button" style="margin-top: 0.3em;">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="width: 1em; height: 1em;"></span>
                    </button>
                  </td>
                </tr>
            </tbody>
            </table>
          </div>
        </div>
        <!-- Tab for events-->
        <div class="tab-pane" id="events" style="margin-left: 20px; margin-right: 20px;">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Profile Photo</th>
                  <th>Name</th>
                  <th>Favorite</th>
                  <th>Details</th>
                </tr>
              </thead>
              <tbody>
                 <tr *ngFor="let result of jsonEventResult; let i = index;">
                  <td style="padding-top: 1.3em;">{{ i+1 }}</td>
                  <td><img class="round-image" src="{{ result.picture.data.url }}"/></td>
                  <td style="padding-top: 1.3em;">{{ result.name }}</td>
                  <td>
                    <button class="btn btn-default favorite-button" type="button" style="margin-top: 0.3em;">
                      <span class="glyphicon glyphicon-star-empty" aria-hidden="true" style="width: 1em; height: 1em; "></span>
                    </button>
                  </td>
                  <td>
                    <button class="btn btn-default favorite-button" type="button" style="margin-top: 0.3em;">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="width: 1em; height: 1em;"></span>
                    </button>
                  </td>
                </tr>
            </tbody>
            </table>
          </div>
        </div>
        <!-- Tab for places-->
        <div class="tab-pane" id="places" style="margin-left: 20px; margin-right: 20px;">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Profile Photo</th>
                  <th>Name</th>
                  <th>Favorite</th>
                  <th>Details</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let result of jsonPlaceResult; let i = index;">
                  <td style="padding-top: 1.3em;">{{ i+1 }}</td>
                  <td><img class="round-image" src="{{ result.picture.data.url }}"/></td>
                  <td style="padding-top: 1.3em;">{{ result.name }}</td>
                  <td>
                    <button class="btn btn-default favorite-button" type="button" style="margin-top: 0.3em;">
                      <span class="glyphicon glyphicon-star-empty" aria-hidden="true" style="width: 1em; height: 1em; "></span>
                    </button>
                  </td>
                  <td>
                    <button class="btn btn-default favorite-button" type="button" style="margin-top: 0.3em;">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="width: 1em; height: 1em;"></span>
                    </button>
                  </td>
                </tr>
            </tbody>
            </table>
          </div>
        </div>
        <!-- Tab for groups-->
        <div class="tab-pane" id="groups" style="margin-left: 20px; margin-right: 20px;">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Profile Photo</th>
                  <th>Name</th>
                  <th>Favorite</th>
                  <th>Details</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let result of jsonGroupReult; let i = index;">
                  <td style="padding-top: 1.3em;">{{ i+1 }}</td>
                  <td><img class="round-image" src="{{ result.picture.data.url }}"/></td>
                  <td style="padding-top: 1.3em;">{{ result.name }}</td>
                  <td>
                    <button class="btn btn-default favorite-button" type="button" style="margin-top: 0.3em;">
                      <span class="glyphicon glyphicon-star-empty" aria-hidden="true" style="width: 1em; height: 1em; "></span>
                    </button>
                  </td>
                  <td>
                    <button class="btn btn-default favorite-button" type="button" style="margin-top: 0.3em;">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="width: 1em; height: 1em;"></span>
                    </button>
                  </td>
                </tr>
            </tbody>
            </table>
          </div>
        </div>
        <!-- Tab for favourites-->
        <div class="tab-pane" id="favorites" style="margin-left: 20px; margin-right: 20px;">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Profile Photo</th>
                  <th>Name</th>
                  <th>Favorite</th>
                  <th>Details</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>ninja</td>
                  <td>ninja</td>
                  <td>ninja</td>
                  <td>ninja</td>
                </tr>
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>